.scrapper {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.image {
	width: 200px;
}

.imageBox {
	padding: 20px;
	vertical-align: middle;
}

.chanelBox {
	margin-left: 20px;
	margin-top: 20px;
}

.removeButton {
	width: 70px;
	height: 70px;
}

form {
	width: 200px;
	height: 200px;

}

textarea {
	width: 200px;
	height: 200px;

	padding: 12px 20px 10px 10px;
	/*margin: 8px 0;*/

	border: 2px solid #000000;
	border-radius: 4px;

	box-sizing: border-box;
	font-size: 20px;
	resize: none;
	font-family: Arial, serif;

}

textarea:focus {
	/*border: 2px solid #0094FF;*/
}

.addActive {
	top: -50px;
	left: -20px;
	color: #0094FF;
	font-size: 22px;
}

.add {
	top: -50px;
	left: -20px;
	color: gray;
	font-size: 22px;
}
