
.container {
    display: flex;
    flex-flow: column;
    width: 100% !important;
    height: 100%;
    padding-bottom: 120px;
    bottom: 20px;
}


.text {
    border: 0;
    box-sizing: border-box;
    flex: 1 1 auto;
    height: 100%;
}

textarea {
    width: 100%;

    box-sizing: border-box;         /* Opera/IE 8+ */
}




@media only screen and (max-width: 600px) {
    .container {
        padding-bottom: 90px;
    }

}

