.main {
	display: flex;
	justify-content: space-between;


	overflow: hidden;
	position: fixed;
	bottom: 0;
	width: 100%;

	padding-top: 20px;
	padding-bottom: 20px;
	/*padding-left: 20px;*/
	padding-right: 20px;


}
.a, .b, .c {
	display: flex;
	width: 50%;
	/*background: #efefef; border: 1px solid #999; */
}

.menuButton {
	margin-left: 5px;
	margin-right: 5px;
	line-height: 50%;
}

.mainMenuButton {
	width: 25%;
	/*padding-left: 50px;*/
	/*padding-right: 50px;*/
}

.newMain {
	display: flex;
	justify-content: space-between;
	/*overflow-x: scroll;*/


	/*overflow: hidden;*/
	position: fixed;
	bottom: 0;
	/*width: 100%;*/

	padding-top: 20px;
	padding-bottom: 20px;
	/*padding-left: 20px;*/
	padding-right: 20px;

	/*width: 30em;*/
	width: 100%;
	/*overflow-x: scroll; THIS BREAKS HORIZONTAL SCROLLING ON MENU*/
	white-space: nowrap;
	/*background-color: white;*/
	background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 25px);
	/*overflow-y: visible;*/
}

.restButtons {
	max-width: 75%;
	width: 100%;
}


@media only screen and (max-width: 600px) {
	.newMain {
		width: 100%;
		padding-top: 25px;
		padding-bottom: 5px;
		/*padding-left: 20px;*/
		padding-right: 5px;
		height: 100px;
	}

	.menuButton {
		margin-right: 2px;
	}


	.restButtons {
		max-width: 50%;
	}

	.mainMenuButton {
		width: 50%;
	}
}
