.editor {
	padding: 10px;
}


.generationPanel {
	position: absolute;
	top: 0px;
	left: 5px;
	height: 100%;
	width: 300px;
	background-color: white;
	padding: 10px;
}

.userPanel {
	position: absolute;
	top: 20px;
	right: 5px;
	height: 100%;
	width: 300px;
	background-color: white;
	padding: 10px;
}

.resultCentering {
	background-image: url('/assets/shirt_dark.svg');
	background-size: 1200px;
	background-repeat: no-repeat;
	background-position: center;
	object-fit: contain;
	display: flex;
	justify-content: center;
	height: 600px;
	padding-top: 90px;
}

.scaled {
	transform: scale(1);
}


@media only screen and (max-width: 600px) {

	.scaled {
		transform: scale(0.6);
		/*width: 130%;*/
	}

	.resultCentering {
		width: 180%;
		margin-left: -40%;
		margin-top: -100px;

	}

}

