.container {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 10px 0;

}

.headline {
    font-size: 64px;
    margin-bottom: 20px;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.icon {
    margin-right: 15px;
    width: 64px;
    /*height: 74px;*/
    font-size: 55px;
    line-height: 64px;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    border-bottom: 1px solid black;
}


@media only screen and (max-width: 600px) {

    .container {
        padding: 2px;
    }

    .content {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 20px;
    }

    .headline {
        font-size: 36px;
        padding-bottom: 5px;
        margin-bottom: 7px;
    }

    .icon {
        font-size: 34px;
        line-height: 36px;
        width: 30px;
    }
}
