

/*div {*/
/*    border-radius: 5px;*/
/*    background-color: #f2f2f2;*/
/*    padding: 20px;*/
/*}*/

form {
    width: auto;
    height: auto;
}

.loginForm {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 0px;

    width: 100%;
    min-height: 60vh;
    padding-left: 20px;
    padding-right: 20px;

    align-content: center; /*This makes login form in center on mobile version*/
}

.loginInput {
    width: 50% !important;
    height: 60px;
    margin-right: 10px !important;
    margin-left: 10px !important;
    font-size: 32px !important;
}

.loginButton {
    margin-left: 20px;
    max-width: 300px;
    float: right;
    line-height: 10px;
    /*left: 50%;*/
    /*margin-left: 25%;*/
}


@media only screen and (max-width: 600px) {
    .loginForm {
        flex-wrap: wrap;
        padding-left: 0px;
        padding-right: 0px;
    }

    .loginButton {
        /*font-size: 20px;*/
        margin-left: 5px;
        width: 50%;
    }

    .loginInput {
        width: 100% !important;
        font-size: 24px !important;
        margin-right: 8px !important;
        margin-left: 8px !important;
    }

}

